* { font-size: 12px; font-family: 宋体, Arial, Verdana; margin: 0; padding: 0; }
body {padding:5px;}
table.detail_tbl {width:99%;word-break: keep-all;white-space:nowrap;border-collapse: collapse;}
table.detail_tbl tr.eventr{background:#fcfcfc;}
table.detail_tbl td{border:1px solid #e7e7e7;padding:0 0 0 10px;color:#444; height:20px; line-height:20px;}
table.detail_tbl td.ltd{text-align: left;width: 35%;}
table.detail_tbl td.rtd{text-align: right;width: 15%;font-weight: bold;}
table.detail_tbl tr.over{ background:#fcf5dd;}

table.qry_tbl { padding: 0; margin: 0 0 5px 0;}
table.qry_tbl tr td { padding: 3px 10px; height: 25px; line-height: 25px;}
table.qry_tbl tr td input,select { width: 150px; font-size: 12px; height: 25px; height: 25px;}

table.edit_tbl { width:99%; padding: 0; margin: 0; border: 1px thick gray; border-left: 1px solid silver; border-top: 1px solid silver; }
table.edit_tbl tr { height: 30px;}
table.edit_tbl tr td.label { text-align: right; width: 210px; height: 26px; padding: 5px; border-right: 1px solid silver; border-bottom: 1px solid silver;}
table.edit_tbl tr td.content { text-align: left; padding: 5px; border-right: 1px solid silver; border-bottom: 1px solid silver;}
table.edit_tbl tr td.content input.easyui-validatebox { width: 300px; height: 25px; line-height: 25px; padding-left: 2px; }

table.view_tbl { font-size: 12px; padding: 0; margin: 0; width: 100%; border-top: 1px solid gray; border-left: 1px solid gray; }
table.view_tbl tr { height: 30px; margin: 0; padding: 0; }
table.view_tbl tr td { height: 30px; padding-left: 5px; border-bottom: 1px solid gray; border-right: 1px solid gray; }
table.view_tbl tr td.vtd_lbl { width: 120px; }

span.checkbox_span { margin-right: 10px; width: 143px; float: left; text-align: left; }
span.required {color: red;}

select { cursor: pointer; padding: 2px 3px; }

a.c2,.c2:hover{ padding: 1px 15px;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#747474,endColorstr=#676767,GradientType=0); }
a.c2:hover{ filter: none; }

ul.enum_chkbox_group { list-style: none; margin: 10px; padding:0;}
ul.enum_chkbox_group li { height: 35px; display: block; float: left; list-style: none; width: 180px; }
ul.enum_chkbox_group li input.chkbox_inpt { width: 15px; height: 15px; line-height: 15px; margin-top: 2px; float:left; }
ul.enum_chkbox_group li span.chk_box_lable { height: 20px; line-height: 20px; margin-left: 5px; margin-left: 5px; float:left; }

span.inputDesc { margin-left: 10px; font-size:12px; color: green; }
span.input_lbl { width: 80px; display: inline-block; }

ul.input_ele { list-style: none; }
ul.input_ele li { list-style: none; padding: 5px; }

.amount{
	text-align:right;
	align:right;
	width:100px;
}